
@{
	ViewBag.Title = "EmailConfirm";
}

	<section class="email-confirm">
		<div class="row emailConfirm">
			<div role="banner" class="emailSent bannerMargin">
				<img src="~/Images/EmailSent.png" alt="Email Sent" />
			</div>
		</div>
	</section>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
@*<h2 class="emailSent">Your email has been sent!</h2>
	<h3 class="getBack">I will respond as soon as possible!</h3*@

