
@{
    ViewBag.Title = "EmailConfirm";
}

	<div role="banner" class="emailSent bannerMargin">
		<img src="~/Images/EmailSent.png" alt="Email Sent" />
	</div>

		@*<h2 class="emailSent">Your email has been sent!</h2>
		<h3 class="getBack">I will respond as soon as possible!</h3*@>
